@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ChengweiXu@SampleStudio">
    <title>登录</title>

    <link rel="shortcut icon" href="~/Content/images/gt_favicon.png">
    @Styles.Render("~/Comm/css")
    <link rel="stylesheet" href="~/Assets/css/font-awesome.css">
    <style>
        a:link, a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }
    </style>
</head>
<body class="home">
    <br/>
    <div class="container">
        <header id="head" class="secondary"></header>
        <div class="row">
            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="thin text-center"><span style="color:purple"><i class="fa fa-flag fa-2x"></i></span>立了个Flag</h3>
                            <p class="thin text-center">还没有帐号? 赶紧<a href="@Url.Action("Register","Login")">注册</a>开始搞事</p>
                            <hr />
                            <form>
                                <div class="top-margin">
                                    <label>flag帐号</label>
                                    <input type="text" class="form-control" placeholder="请输入你的flag帐号" id="txtUserName">
                                </div>
                                <div class="top-margin">
                                    <label>密码</label>
                                    <input type="password" class="form-control" placeholder="请输入密码" id="txtPassword">
                                </div>
                                <hr />
                                <div class="row text-center">
                                    <a class="btn btn-action" id="btnLogin">开始搞事</a>
                                </div>
                            </form>
                            <br/>
                            <p class="thin text-center"><a href="@Url.Action("Chat","Login")">匿名搞事>></a></p>
                        </div>
                    </div>
                </div>
            </article>
            <!-- /Article -->

        </div>
    </div>	<!-- /container -->
    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/Comm/js")
    <script>
        $(function () {
            $("#txtUserName").focus();
            
            $('#btnLogin').click(function () {

                var username = $('#txtUserName').val();
                var password = $('#txtPassword').val();
                
                if (username == "") {
                    alert('请填写帐号');
                    $('#txtUserName').focus();
                    return;
                }

                var obj = $(this);
                var has_click = obj.attr('has-click');
                if (has_click == '1') {
                    return;
                }
                obj.attr('has-click', '1');
                
                $.ajax({
                    type: 'post',
                    url: "@Url.Action("Login")",
                    dataType: 'json',
                    data: {
                        username: username,
                        password: password
                    },
                    beforeSend: function () {
                        obj.html('正在登录...');
                    }, success: function (json) {
                        if (json.res == "1") {
                            //成功
                            window.location.href = "@Url.Action("Index", "Home")";
                        } else {
                            //提交失败请重试
                            alert('登录失败');
                            obj.html('重新尝试登录').attr('has-click', '0');
                        }
                    }
                });
            });

        });

    </script>

</body>
</html>